* {
    margin: 0;
    padding: 0;
}
/* toan bo trang deu duoc can chinh */
/* padding la khoang trong giua noi dung va vien */
/* margin la khoang trong giua vien va phan tu tiep theo  */


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Cac phan tu trong khoi body */
body {
    display: grid;
    background-color:brown;
    font-family: 'Dosis', sans-serif;
}

/* Khung chu Sudoku duoc can chinh ra giua man hinh */
header {
    display: grid;
    color: white;
    margin: 20px;
    place-self: center;
    justify-items: center;
}

/* Tao ra khoang cach giua Sudoku va dong created  Day la dong gioi thieu*/
header a {
    /* color: white; */
   color:blueviolet;
    padding-bottom: 30px;
}

/* Khung man hinh tro choi hay cai ma tran sudoku da duoc can ra giua man hinh */
#app-sudoku {
    place-self: center;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
}

.buttons-container {
    display: grid;
    grid-template-rows: auto auto;
}


/* Cac nut lua chon do kho duoc can chinh deu hon chinh mau nen
trong to hon co khoang cach voi nhau font chu cung duoc dat moi  */
.button {
    display: inline-block;
    border-radius: 6px;
    background-color: whitesmoke;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 230px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px 0px 25px 0px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Bao vien quanh khoi sudoku tro choi 1 vien mau den co do day 3px */
.grid-sudoku {
    display: table;
    background: white;
    border: 3px solid black;
}

/* Bao khoi block 3x3 co vien duoi */
.grid-sudoku > div:nth-child(3), .grid-sudoku > div:nth-child(6) {
    border-bottom: 3px solid black;
}

/* Bao ben phai cac dong */
.grid-row > div:nth-child(3), .grid-row > div:nth-child(6) {
    border-right: 3px solid black;
}


/* Hien thi cac o theo dang bang  */
.grid-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid gray;
}


/* Thu gon cac o cho dep mat chinh font chu, can chu ra giua bang */
.grid-cell-editor {
    border: none;
    width: 18px;
    height: 18px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color:red;
}

/* position: absolute  la can chinh vi tri khung answer vi tri tuyet doi theo */
/* thanh phan bao ngoai hoac it nhat la theo cua so trinh duyet */


.answer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-image {
    border: 2px solid black;
    width: 350px;
    height: 350px;
}


.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

/* Can mau font chu cac o da dien  */
.blue {
    /* color: rgb(52, 89, 255); */
    color:darkgreen ;
}

.mt-20 {
    margin-top: 10;
}
